azure-identity
azure-ai-projects
azure-ai-inference
azure-ai-evaluation
azure-ai-contentsafety
azure-monitor-opentelemetry
azure-ai-inference[opentelemetry]
jupyter
notebook
ipykernel
pandas
tabulate
nbformat
asyncio
typing
