azure-identity
azure-ai-resources
azure-ai-evaluation
azure-ai-inference[opentelemetry]
jupyter
notebook
ipykernel
pandas
tabulate
nbformat
asyncio
typing
mkdocs-material
mkdocs-render-swagger-plugin
mkdocs-macros-plugin
mkdocs-with-pdf
mkdocs-glightbox
mkdocs-open-in-new-tab
mkdocs-video
mkdocs-table-reader-plugin
mkdocs-minify-plugin
mkdocs-jupyter
